<% content_for :title do %>My super sweet dashboard<% end %>

<div style="display: flex; flex-wrap: wrap;">

  <div style="width: 50vw; height: 50vh; background: #d75; display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <p style="font-size: 4em;">26 days</p>
    <p>Cycle Time</p>
  </div>

  <div style="width: 50vw; height: 50vh; background: white;">
    <div style="width: calc(50vw - 20px); height: 400px; overflow: hidden; pointer-events: none; margin: 10px;">
      <iframe
        id="new-relic-web-transactions"
        name="new-relic-web-transactions"
        title="NewRelic Web Transactions"
        style="width: calc(50vw + 27px); height: 1000px; max-width: none; margin: -13px 0 0 -6px"
        frameborder="0" border="0" cellspacing="0"
        src="https://chart-embed.service.newrelic.com/herald/2d914802-56d1-4df1-bc58-d8a69f7eae22?height=400px&timepicker=false">
      </iframe>
    </div>
  </div>

  <div style="width: 50vw; height: 50vh; color: black; background: white; display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <p style="font-size: 8em;">15K</p>
    <p>Jobs Started</p>
  </div>

  <div style="width: 50vw; height: 50vh; background: #7d5; display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <p style="font-size: 4em;">1</p>
    <p>Total Sharmilas</p>
  </div>

</div>

